.container{
    width: 1200px;
margin: 0 auto;
}

@media (min-width: 786px) and (max-width: 1199px) {
.container{
    max-width: 786px;
}
}

@media (min-width: 500px) and (max-width: 785px) {
.container{
    max-width: 500px;
}
}

@media (min-width: 320px) and (max-width: 480px) {
.container{
    max-width: 320px;
}
}
