:root {
  --textColor: black;
}

[data-theme="light-solid"] {
    --textColor: black;
}

[data-theme="dark-transparent"] {
    --textColor: white;
}

[data-theme="dark-solid"] {
--textColor: white;
}



.footer__list {
  list-style: none;
  min-width: 300px;
  padding-left: 0px;
}

.footer {
  padding: 10px 10px;
  display: flex;
  margin-top: 15px;
}

.footer__item {
  color: var(--textColor);
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.mailto {
  color: var(--textColor);
  text-decoration: none;
  font-size: 20px;
}

.footer__link {
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s color;
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &:hover {
    color: #1da5ff;
  }

  .icon__fixer {
  margin-left: 5px;
}
}

.footer__wrapper {
  display: flex;
}

.version__p {
  color: var(--textColor);
  font-size: 20px;
}


