:root {
  --zoom: 80%;
}

[data-theme="zoomed"] {
  --zoom: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12023213230;
}

.modal {
    display: flex;
  justify-content: center;
  align-items: center;

  // max-width: calc(100vw - 348px);
  // max-height: calc(100vh - 324px);
}
.img{
    width: var(--zoom);
  height: auto;
}

