:root {
  --transparent: #ffffff3d;
  --textColor: black;
  --transparentGlass: blur(7px);
  --progressiveBackground: linear-gradient(to bottom, #e0f2ff, #ffffff00);
}

[data-theme="light-solid"] {
  --transparent: #ffffff;
    --textColor: black;
  --transparentGlass: blur(0px);
    --progressiveBackground: linear-gradient(to bottom, #e0f2ff, #ffffff00);
}

[data-theme="dark-transparent"] {
  --transparent: #0000003d;
    --textColor: white;
  --transparentGlass: blur(7px);
    --progressiveBackground: linear-gradient(to bottom, #37454f, #ffffff00);
}

[data-theme="dark-solid"] {
  --transparent: #000000;
      --textColor: white;
  --transparentGlass: blur(0px);
  --progressiveBackground: linear-gradient(to bottom, #37454f, #ffffff00);
}

.app__search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition:
    background-color cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s,
    box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
  backdrop-filter: var(--transparentGlass);
  background: var(--transparent);
  padding: 10px;
  border: solid 0.5px rgba(255, 255, 255, 0.077);
  box-shadow: var(--itemShadow);

  &::placeholder {
    color: var(--textColor);
  }
}

.app__search__form {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
    color: var(--textColor);
  background: var(--progressiveBackground);
}

.app__search__btn {
  @extend .app__search;
  color: var(--textColor);

  &:hover {
    background: #ffffff77;
  }
}
