:root {
  --transparent: #ffffff3d;
  --textColor: black;
  --transparentGlass: blur(7px);
}

[data-theme="light-solid"] {
  --transparent: #ffffff;
  --textColor: black;
  --transparentGlass: blur(0px);
}

[data-theme="dark-transparent"] {
  --transparent: #0000003d;
  --textColor: white;
  --transparentGlass: blur(7px);
}

[data-theme="dark-solid"] {
  --transparent: #000000;
  --textColor: white;
  --transparentGlass: blur(0px);
}

.app__selector {
  border-radius: 30px;
  transition:
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s,
    margin cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s,
    box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
  padding: 10px;
  backdrop-filter: var(--transparentGlass);
  background: var(--transparent);
  border: rgba(0, 145, 255, 0.061) 1px solid;
  box-shadow: var(--itemShadow);
  color: var(--textColor);
}

.main__title {
  text-align: center;
  color: var(--textColor);
}

.second__title {
  text-align: center;
}

.selector__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .selector__wrapper {
    margin-top: 10px;
  }
}
